{{ define "head" }}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .PageTitle }}{{ .PageTitle }} — {{ end }}{{ .SiteName }}</title>
  {{ if .Description }}<meta name="description" content="{{ .Description }}">{{ end }}
  {{ if .Keywords }}<meta name="keywords" content="{{ .Keywords }}">{{ end }}
  {{ if .Favicon }}<link rel="icon" href="{{ .Favicon }}">{{ end }}
  <link rel="alternate" type="application/rss+xml" title="{{ .SiteName }}" href="/feed.xml">
  <link rel="stylesheet" href="/static/css/kite.css?v={{ currentYear }}{{ .SiteName }}v2">
  <script>
      const localTheme = localStorage.getItem("pref-theme");
      if (localTheme) {
          if (localTheme === "dark") {
              document.documentElement.classList.add("dark");
              document.body.classList.add("dark");
          }
      } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.classList.add("dark");
          document.body.classList.add("dark");
      }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2/dist/iconify-icon.min.js"></script>
</head>
{{ end }}
