{{ define "index.html" }}
<!DOCTYPE html>
<html lang="zh-CN">
{{ template "head" . }}
<body class="list">
  {{ template "header" . }}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{ .SiteName }}",
    {{ if .Description }}"description": "{{ .Description }}",{{ end }}
    "url": "{{ .SiteURL }}"
  }
  </script>

  <main class="main">
    <div class="profile">
      <h1>{{ .SiteName }}</h1>
      {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
    </div>

    {{ if .Posts }}
      {{ range .Posts }}
        {{ template "post_card" . }}
      {{ end }}
      {{ template "pagination" .Pagination }}
    {{ else }}
      <div style="text-align:center; margin-top: 50px; color: var(--secondary)">
          ✍️ 暂无文章，快去写一篇吧~
      </div>
    {{ end }}
  </main>

  {{ template "footer" . }}
</body>
</html>
{{ end }}
